h2 {
    text-align: left;
}

.body p {
    text-align: left;
}

.button {
    border-radius: 40px;
    width: 150px;
    padding: 10px;
    border: solid rgb(19, 16, 16) 2px;
    background-color: aliceblue;
    color: black;
    margin-bottom: 20px;
    font-weight: bolder;
}